.skill-container{
    margin: 2vh;
    max-height: 70vh;
    overflow: auto;
    display: flex; 
    justify-content:center;
    overflow-x: hidden;
}

.skill-body{
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
}

.skill-gap{
  justify-content: center;
}

.skill-header-container{
  margin-top: 15px;
  margin-left: 10px;
  display: flex;
}

.skill-search-input{
  max-width: 225px;
}

.skill-card {
    width: 250px;
    border: 1px solid lightgrey;
}

.skill-title{
  display: flex;
  justify-content: center;
}

.skill-header-spacer{
  flex: 1 1 auto;
}

.skill-add-icon{
  margin-right: 10px; background-color: lightgreen;
}

.skill-description{
    height: 100px; overflow: auto;
}