<div class="body-container">
    <app-navbar [ActualArea]="Area" [HaveAreaAction]="true" [AreaActionTitle]="'Ir para o 4shared'" [AreaAction]="GoTo4Shared">
    </app-navbar>

    <div class="inner-body-container" style="background-color: transparent; border: 0px;">
        <div style="display: flex; justify-content: center;">
            <div style="background-color: white; padding: 10px; border-radius: 10px; width: 100%;">
                <h3 style="text-align: center; color: lightblue;">
                    <b>Info:</b> use o link acima para ir até a página do 4shared.<br>
                    Para adicionar imagens é necessário entrar na tela do próprio 4shared, utilize links de lá para evitar o problema de carregamento do google<br>
                    Por algum motivo que ainda estou verificando, não será possível adicionar arquivos por aqui... ainda...
                </h3>
                <br>
                <iframe allowfullscreen="true" marginWidth="0" marginHeight="0" src="https://www.4shared.com/folder/c4xGfX2E/_online.html?dirembed=true" frameBorder="0" allowtransparency="true" class="dozedex-drive-frame"></iframe>
            </div>
        </div>
    </div>
    <dozedex-spacer></dozedex-spacer>
</div>