<div class="body-container">
    <app-navbar [ActualArea]="Area"></app-navbar>
    <div class="inner-body-container">
        <section class="container-fluid">
            <section class="row justify-content-center">
                <form [formGroup]="skillForm" (ngSubmit)="onSubmit()" class="form-container">
                    <div class="create-action-image-container">
                        <img src="{{skill.ImagePath}}" class="create-action-image-picture" (click)="openDialog()">
                    </div>
                    
                    <div class="form-group">
                        <label for="Name">Nome da habilidade</label>
                        <input formControlName="Name" type="text" class="form-control" id="InputName" placeholder="Nome da habilidade">
                    </div>

                    <div class="form-group">
                        <label for="ShortDescription">Descrição curta</label>
                        <textarea formControlName="ShortDescription" class="form-control" id="InputDescription" placeholder="Descrição curta da habilidade" style="min-height: 200px;"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="LongDescription">Descrição longa</label>
                        <textarea formControlName="LongDescription" class="form-control" id="InputDescription" placeholder="Descrição curta da habilidade" style="min-height: 200px;"></textarea>
                    </div>

                    <div class="form-group">
                        <label></label>
                    </div>

                    <div class="form-group">
                        <app-pulsing-button [pulsingButtonClass]='"pulsing-button-blue"' [text]='"Salvar alterações"' [loading]="loading"></app-pulsing-button>
                    </div>
                </form>
            </section>
        </section>
    </div>
    <dozedex-spacer></dozedex-spacer>
</div>