.skill-picture-container{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.skill-picture{
    cursor: pointer;
    border-radius: 10%;
    min-width: 1px;
    max-width: 600px;
    object-fit: cover;
}