<app-loading-screen *ngIf="loading"></app-loading-screen>

<div *ngIf="!loading" class="body-container">
    <app-navbar [ActualArea]="Area"></app-navbar>
    <div class="inner-body-container">
        <section class="container-fluid">
            <section class="row justify-content-center">
                <div class="form-container details-form-container">
                    <div class="details-character-container">  
                        <button mat-mini-fab class="card-container-add-btn float-right details-edit-button" (click)="GoToEdit(guild.Key)">
                            <mat-icon> border_color</mat-icon>
                        </button>
                        <div class="details-character-image-container" style="width: 100%;">
                            <img src="{{guild.ImagePath}}" class="details-character-image">
                        </div>
                        <div class="details-character-information">
                            <br style="height: 33%;">
                            <h1 style="padding-top:10px; padding-bottom: 10px; font-size: 40px">{{NameWithInitials}}</h1>
                            <br style="height: 33%;">
                        </div>



                        <mat-divider></mat-divider>
                        <br>
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <b class="details-character-information-title">Descrição</b>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <span class="details-text">{{GetDescription()}}</span>
                            </mat-expansion-panel>

                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <b class="details-character-information-title">História</b>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <span class="details-text">{{GetHistory()}}</span>
                            </mat-expansion-panel>

                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <b class="details-character-information-title">Integrantes</b>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="card-container">
                                    <div *ngIf="HaveMembers" class="flex-gap flex-gap-justify-center">
                                        <div *ngFor="let character of guild.Characters">
                                            <mat-card class="card-container-body" style="max-height: 300px !important;">
                                                <mat-card-header class="card-container-title">
                                                    <mat-card-title class="card-title" title="{{character.Name}}">{{character.Name}}</mat-card-title>
                                                </mat-card-header>
                                                <img class="card-container-image" mat-card-image src="{{character.ImagePath}}" alt="{{character.ShortDescription}}" (click)="GoToCharacterDetails(character.Key)">
                                                <mat-divider></mat-divider><br>
                                                <mat-card-content>
                                                <div class="card-container-description">{{character.ShortDescription}}</div>
                                                </mat-card-content>
                                            </mat-card>
                                            <dozedex-spacer></dozedex-spacer>
                                        </div>
                                    </div>
                                    <div *ngIf="!HaveMembers">
                                        <p>Sem integrantes adicionados</p>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </section>
        </section>
    </div>
    <dozedex-spacer></dozedex-spacer>
</div>