<mat-form-field appearance="fill">
    <mat-label>{{multiSelect.Title}}</mat-label>
    <mat-select #multiSelectInput [formControl]="multiSelectForm" multiple>
        <mat-select-trigger>
            {{GetOptionName(multiSelectForm.value?.[0])}}
            <span *ngIf="(multiSelectForm.value?.length || 0) > 1" class="multiselect-additional-selection">
                (+{{(multiSelectForm.value?.length || 0) - 1}} {{multiSelectForm.value?.length === 2 ? 'outro' : 'outros'}})
            </span>
        </mat-select-trigger>
        <mat-form-field appearance="fill" style="width: 100%;">
            <input #Select_Search matInput title="Evite pressionar enter durante os selects" (input)="filter(Select_Search.value)" placeholder="Pesquisa">
        </mat-form-field>
        <br>
        <div *ngIf="selectList.length > 0">
            <mat-option *ngFor="let option of selectList" [value]="option.Key" (click)="SelectItem()">{{option.Title}}</mat-option>
        </div>
        <div *ngIf="selectList.length === 0">
            <mat-option disabled>Sem opções</mat-option>
        </div>
    </mat-select>
</mat-form-field>