<h1 mat-dialog-title>{{data.Title}}</h1>
<div mat-dialog-content>
  <p>{{data.Description}}</p>
  <div class="form-group" *ngFor="let input of data.Inputs">
    <label for="{{input.Input}}">{{input.Label}}</label>
    <input type="{{input.Type}}" class="form-control" [(ngModel)]="input.Input" placeholder="{{input.Label}}">
  </div>
</div>
<div mat-dialog-actions class="dialog-actions">
  <button (click)="onNoClick()" class="btn btn-primary">Voltar</button>
  <button cdkFocusInitial class="btn btn-success" (click)="runFunction()">{{data.FunctionDescription}}</button>
</div>