.navbar-spacer {
    flex: 1 1 auto;
}

.navbar-icon{
    background-color: transparent;
    color: white;
    border: 0;
}

.simple-icon{
  margin-top: 1.5vh;
}

.navbar-profile-icon{
    background-color: transparent;
    border-radius: 50%;
    border: 0;
}

.example-container {
    border: 1px solid rgba(0, 0, 0, 0.5);
    height: 100vh;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }