<mat-toolbar color="primary">
    <button mat-button [matMenuTriggerFor]="menu" class="navbar-icon simple-icon">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <div *ngFor="let option of menuOptions">
            <button mat-menu-item (click)="option.Function()">{{option.Title}}</button>
        </div>
    </mat-menu>

    <span class="navbar-spacer"></span>

    <button mat-button *ngIf="loading" class="navbar-icon simple-icon" disabled id="navbar-refresh-button" (click)="RefreshPage()">
        <mat-icon class="pulsing-button">refresh</mat-icon>
    </button>

    <button mat-button *ngIf="!loading" class="navbar-icon simple-icon" id="navbar-refresh-button" (click)="RefreshPage()">
        <mat-icon>refresh</mat-icon>
    </button>
    
    <button mat-button [matMenuTriggerFor]="profile" class="navbar-icon">
        <img src="{{user.ImagePath}}" alt="{{altText}}" height="25vh" width="25vh" class="navbar-profile-icon">
    </button>
    <mat-menu #profile="matMenu">
        <div *ngFor="let option of profileOptions">
            <button mat-menu-item (click)="option.Function()">{{option.Title}}</button>
        </div>
    </mat-menu>

    <button class="navbar-icon">
    </button>
</mat-toolbar>