<app-loading-screen *ngIf="loading"></app-loading-screen>

<div *ngIf="!loading" class="body-container">
    <app-navbar [ActualArea]="Area"></app-navbar>
        <div class="inner-body-container">
            <section class="container-fluid">
                <section class="row justify-content-center">
                    <form [formGroup]="guildForm" (ngSubmit)="onSubmit()" class="form-container">
                        <div class="create-action-image-container">
                            <img src="{{guild.ImagePath}}" class="create-action-image-picture" (click)="openDialog()">
                        </div>
                        
                        <div class="form-group">
                            <label for="Name">Nome da guilda</label>
                            <input formControlName="Name" type="text" class="form-control" id="InputName" placeholder="Nome da guilda">
                        </div>

                        <div class="form-group">
                            <label for="Initials">Iniciais</label>
                            <input formControlName="Initials" class="form-control" id="InputInitials" placeholder="Sigla">
                        </div>
    
                        <div class="form-group">
                            <label for="ShortDescription">Descrição curta</label>
                            <textarea formControlName="ShortDescription" class="form-control" id="InputDescription" placeholder="Descrição curta da guilda" style="min-height: 200px;"></textarea>
                        </div>
    
                        <div class="form-group">
                            <label for="LongDescription">Descrição longa</label>
                            <textarea formControlName="LongDescription" class="form-control" id="InputDescription" placeholder="Descrição longa da guilda" style="min-height: 200px;"></textarea>
                        </div>

                        <div class="form-group">
                            <label></label>
                        </div>
    
                        <div class="form-group">
                            <app-pulsing-button [pulsingButtonClass]='"pulsing-button-blue"' [text]='"Salvar alterações"' [loading]="btnLoading"></app-pulsing-button>
                        </div>
                    </form>
                </section>
            </section>
        </div>
        <dozedex-spacer></dozedex-spacer>
    </div>