<app-navbar></app-navbar>

<div class="character-list-container">
    <div>
        <button class="btn btn-primary btn-block character-list-button">Adicionar novo</button>
    </div>

    <div class="table-responsive characters-list-table">
        <table class="table table-striped table-dark table-hover">
            <thead>
            <tr>
                <th scope="col">Ícone</th>
                <th scope="col">Nome</th>
                <th scope="col">Idade</th>
                <th scope="col">Cor de cabelo</th>
                <th scope="col">Olho esquerdo</th>
                <th scope="col">Olho direito</th>
                <th scope="col">Altura</th>
                <th scope="col">Raça</th>
                <th scope="col">Classe primária</th>
                <th scope="col">Descrição curta</th>
                <th scope="col">Especialidade</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>se está lendo isso é corno</td>
                <td>xxxxx</td>
                <td>xxxxx</td>
                <td>xxxxx</td>
                <td>xxxxx</td>
                <td>xxxxx</td>
                <td>xxxxx</td>
                <td>xxxxx</td>
                <td>xxxxx</td>
                <td>xxxxx</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>xxxxx</td>
                <td>xxxxx</td>
                <td>xxxxx</td>
                <td>xxxxx</td>
                <td>xxxxx</td>
                <td>xxxxx</td>
                <td>xxxxx</td>
                <td>xxxxx</td>
                <td>xxxxx</td>
                <td>xxxxx</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>xxxxx</td>
                <td>xxxxx</td>
                <td>xxxxx</td>
                <td>xxxxx</td>
                <td>xxxxx</td>
                <td>xxxxx</td>
                <td>xxxxx</td>
                <td>ala é corno memo</td>
                <td>xxxxx</td>
                <td>xxxxx</td>
            </tr>
            </tbody>
      </table>
    </div>
</div>


