<div class="body-container" style="margin-bottom: 5vh;">
    <app-navbar [ActualArea]="Area"></app-navbar>
    <div class="inner-body-container">
      <div class="form-group">
        <div class="card-header-container">
          <input #Input_Search class="form-control card-container-search" title="Pressionar enter também realizará a pesquisa" (change)="SearchSkill(Input_Search.value)" placeholder="Digite uma habilidade">
          <button mat-button title="Pressionar enter também realizará a pesquisa">
            <mat-icon>search</mat-icon>
          </button>
          <div class="inline-spacer"></div>
          <button mat-mini-fab class="card-container-add-btn" (click)="AddNew()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="card-container">
            <div class="flex-gap flex-gap-justify-center">
            <div *ngFor="let skill of skills">
              <mat-card class="card-container-body">
                <mat-card-header class="card-container-title">
                    <mat-card-title>{{skill.Name}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <div class="card-container-description">{{skill.ShortDescription}}</div>
                </mat-card-content>
                <mat-divider></mat-divider>
                <div class="form-group">
                    <mat-card-actions class="card-container-actions">
                        <!-- <button mat-stroked-button style="background-color: #3487ed; color: white;" (click)="GoToDetails(skill.Key)"><mat-icon>add</mat-icon></button> -->
                        <button mat-stroked-button style="background-color: #3487ed; color: white;" (click)="GoToEdit(skill.Key)"><mat-icon>edit</mat-icon></button>
                        <button mat-stroked-button style="background-color: rgb(205, 0, 0); color: white;" (click)="Inactive(skill.Key)"><mat-icon>block</mat-icon></button>
                    </mat-card-actions>
                </div>
              </mat-card>
              <dozedex-spacer></dozedex-spacer>
            </div>
          </div>
        </div>
    </div>
</div>