@keyframes pulsing-button-animation-blue {
    0%   {
        background-color: rgb(31, 108, 232);
        border-color: rgb(31, 108, 232);
    } 
    50%  {
        background-color: rgb(152, 205, 251);
        border-color: rgb(152, 205, 251);
    }
    100%  {
        background-color: rgb(31, 108, 232);
        border-color: rgb(31, 108, 232);
    }
}

.pulsing-button-blue{
    background-color: rgb(31, 108, 232);
    color: white;
    animation-name: pulsing-button-animation-blue;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
