<div class="body-container">
    <app-navbar [ActualArea]="Area"></app-navbar>
    <div class="inner-body-container" *ngIf="!characterLoading">
        <section class="container-fluid">
            <section class="row justify-content-center">
                <form [formGroup]="characterForm" (ngSubmit)="onSubmit()" class="form-container create-form-container">
                    <div class="create-character-container">    
                        <div class="form-group create-header-form-group">
                            <div class="create-character-image-container">
                                <img src="{{characterImagePath}}" class="create-character-image" (click)="openDialog()">
                            </div>
                            <div class="create-character-information" style="width: 70%;">
                                <h2 class="create-character-information-title">
                                    <b>Informações básicas</b>
                                </h2>

                                <mat-form-field appearance="fill">
                                    <mat-label>Nome</mat-label>
                                    <input matInput autocomplete="off" placeholder="Nome" type="text" formControlName="Name">
                                </mat-form-field>

                                <mat-form-field appearance="fill">
                                    <mat-label>Idade</mat-label>
                                    <input matInput autocomplete="off" placeholder="Idade" type="text" formControlName="Age">
                                </mat-form-field>

                                <mat-form-field appearance="fill">
                                    <mat-label>Altura</mat-label>
                                    <input matInput autocomplete="off" placeholder="Altura" type="number" step="0.01" formControlName="Height">
                                </mat-form-field>
                                
                                <mat-form-field appearance="fill">
                                    <mat-label>Peso</mat-label>
                                    <input matInput autocomplete="off" placeholder="Peso" type="number" step="0.01" formControlName="Weight">
                                </mat-form-field>

                                <mat-form-field appearance="fill">
                                    <mat-label>Olho esquerdo</mat-label>
                                    <input matInput autocomplete="off" placeholder="Cor do olho" type="text" formControlName="LeftEyeColor">
                                </mat-form-field>

                                <mat-form-field appearance="fill">
                                    <mat-label>Olho direito</mat-label>
                                    <input matInput autocomplete="off" placeholder="Cor do olho" type="text" formControlName="RightEyeColor">
                                </mat-form-field>

                                <mat-form-field appearance="fill">
                                    <mat-label>Cabelo</mat-label>
                                    <input matInput autocomplete="off" placeholder="Cor do cabelo" type="text" formControlName="HairColor">
                                </mat-form-field>

                                <mat-form-field appearance="fill">
                                    <mat-label>Pele</mat-label>
                                    <input matInput autocomplete="off" placeholder="Cor da pele" type="text" formControlName="SkinColor">
                                </mat-form-field>

                                <app-multi-select-input [multiSelectForm]="breedKeys" [multiSelect]="breedMultiSelect" [selectedValues]="character.BreedKeys">
                                    <!-- Raças -->
                                </app-multi-select-input>

                                <app-multi-select-input [multiSelectForm]="parentsKeys" [multiSelect]="parentsMultiSelect" [selectedValues]="character.ParentsKeys ?? []">
                                    <!-- Personagens de familia -->
                                </app-multi-select-input>

                                <app-multi-select-input [multiSelectForm]="transformationsKeys" [multiSelect]="transformationsMultiSelect" [selectedValues]="character.TransformationKeys ?? []">
                                    <!-- Transformações -->
                                </app-multi-select-input>

                                <app-multi-select-input [multiSelectForm]="itemsKeys" [multiSelect]="itemsMultiSelect" [selectedValues]="character.ItemKeys ?? []">
                                    <!-- Itens e equipamentos -->
                                </app-multi-select-input>

                                <app-multi-select-input [multiSelectForm]="skillsKeys" [multiSelect]="skillsMultiSelect" [selectedValues]="character.SkillsKeys ?? []">
                                    <!-- Habilidades -->
                                </app-multi-select-input>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                        <br>
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <b class="create-character-information-title">Descrição</b>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-form-field appearance="fill" style="width: 100%;">
                                    <mat-label>Descrição curta</mat-label>
                                    <textarea matInput placeholder="Uma descrição curta..." style="min-height: 200px;" formControlName="ShortDescription"></textarea>
                                </mat-form-field>
                            </mat-expansion-panel>

                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <b class="create-character-information-title">História</b>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-form-field appearance="fill" style="width: 100%;">
                                    <mat-label>História</mat-label>
                                    <textarea matInput placeholder="Tudo começou quando..." style="min-height: 200px;" formControlName="LongDescription"></textarea>
                                </mat-form-field>
                            </mat-expansion-panel>

                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <b class="create-character-information-title">Personalidade</b>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-form-field appearance="fill" style="width: 100%;">
                                    <mat-label>Personalidade</mat-label>
                                    <textarea matInput placeholder="Calmo e sagaz..." style="min-height: 200px;" formControlName="Personality"></textarea>
                                </mat-form-field>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                    <div class="form-group">
                        <app-pulsing-button [pulsingButtonClass]='"pulsing-button-blue"' [text]='"Salvar alterações"' [loading]="loading"></app-pulsing-button>
                    </div>
                </form>
            </section>
        </section>
    </div>
    <div *ngIf="characterLoading" class="inner-body-container" style="display: flex; justify-content: center;">
        <img src="{{loadingUrl}}" alt="loading" style="border-radius: 20px;">
    </div>
    <dozedex-spacer></dozedex-spacer>
</div>