.parent {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loadingAPI{
    height: 100px;
    width: 200px;
}


.loading-text {
    font-size: 30px;
  }
  
  .loading-text:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
    animation: ellipsis steps(4,end) 900ms infinite;
    content: "\2026";
    width: 0px;
  }
  
  @keyframes ellipsis {
    to {
      width: 1.25em;    
    }
  }
  
  @-webkit-keyframes ellipsis {
    to {
      width: 1.25em;    
    }
  }