<app-navbar></app-navbar>
<div class="profile-container">
    <section class="container-fluid">
        <section class="row justify-content-center">
            <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="form-container">
                <div class="form-group" style="display: flex; justify-content: center;">
                    <img src="{{user.ImagePath}}" width="200vh" style="border-radius: 20px;">
                </div>

                <div class="form-group">
                    <label for="ImageUrl">URL da imagem do perfil</label>
                    <input formControlName="ImageUrl" type="text" class="form-control" id="InputImageUrl" placeholder="Url da imagem" value="">
                </div>
                
                <div class="form-group">
                  <label for="Email">Seu Email</label>
                  <input formControlName="Email" type="email" class="form-control" id="InputEmail" placeholder="Seu Email">
                </div>

                <div class="form-group">
                    <label for="Name">Seu Nome</label>
                    <input formControlName="Name" type="text" class="form-control" id="InputName" placeholder="Seu Nome">
                </div>

                <div class="form-group">
                    <label for="UserName">Seu Nome de usuário</label>
                    <input formControlName="UserName" type="text" class="form-control" id="InputUserName" placeholder="Nome de usuário">
                </div>

                <div class="form-group">
                    <label for="Password">Sua senha</label>
                    <input formControlName="Password" type="password" class="form-control" id="InputPassword" placeholder="Senha">
                </div>

                <div>
                    <label for="OldPassword">Senha antiga (obrigatória)</label>
                    <input formControlName="OldPassword" type="password" class="form-control" id="InputOldPassword" placeholder="Senha anterior"> 
                </div>

                <br>
                
                <div class="form-group">
                    <mat-slide-toggle color="primary" formControlName="KeepLogin">Manter login</mat-slide-toggle>
                </div>

                <app-pulsing-button [pulsingButtonClass]='"pulsing-button-blue"' [text]='"Salvar alterações"' [loading]="loading"></app-pulsing-button>
              </form>
        </section>
    </section>
</div>
<div id="profile-spacer">
    <br/>
    <br/>
</div>