.profile-picture-container{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.profile-picture{
    display: flex;
    border-radius: 10%;
    min-width: 1px;
    max-width: 600px;
}

.profile-basic-information{
    margin: 2vh 2vh 2vh 2vh;
    background-color: white;
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 20px;
}