.details-form-container{
    height: 100%; 
    max-width: none; 
    flex-wrap: wrap;
}

.details-character-information{
    min-width: 215px; 
    height: 100%; 
    margin-top: 2vh; 
    border: 1px solid lightgray; 
    border-radius: 20px; 
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-around; 
    padding-top: 20px;
}

.details-character-information-title{
    text-align: center; 
    width: 100%;
}

.details-character-image-container{
    min-width: 215px; 
    width: 30%; 
    height: 100%; 
    display: flex; 
    justify-content: center; 
    margin-top: 2vh
}

.details-character-image{
    border-radius: 20px; 
    min-width: 1px; 
    max-width: 95%;
}

.details-character-container{
    border: 1px solid lightgray; 
    padding: 20px; 
    border-radius: 20px;
    margin-bottom: 5vh;
}

.details-header-form-group{
    display: flex; 
    flex-direction: row; 
    width: 100%; 
    flex-wrap: wrap;
}

.details-body-form-group{
    display: flex; 
    justify-content: center;
}

.details-character{
    margin-left: 20px; 
    padding: 10px; 
    border: 1px solid lightgray; 
    border-radius: 10px;
}

.details-card{
    height: 150px; 
    width:200px;
    margin-bottom: 50px;
}

.details-edit-button{
    background-color: orange !important; 
    position:fixed; 
    right:0;
    bottom:0; 
    margin-right: 10vh !important;
    margin-bottom: 5vh !important; 
    margin-top: -5vh !important;
    z-index: 1;
}