.navbar-spacer {
    flex: 1 1 auto;
}

.navbar-icon{
    background-color: transparent;
    color: white;
    border: 0;
}

.navbar-profile-icon{
  object-fit: cover;
  background-color: transparent;
  border-radius: 50%;
  border: 0;
}

.dozedex-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.dozedex-sidenav {
  position: fixed;
  background-color: #3f51b5;
  color: white;
  /* padding-top: 25%; */
  /* padding: 20px; */
}

@keyframes pulsing-button-animation {
  0%   {color: white}
  50%  {color: rgb(0, 206, 58);}
  100%  {color: white}
}

.pulsing-button{
  color: white;
  animation-name: pulsing-button-animation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
