<div class="body-container">
  <app-navbar [ActualArea]="Area"></app-navbar>
  <div class="inner-body-container" style="background-color: transparent; border: 0px;">
    <div style="display: flex; justify-content: center;">
      <div style="border: 5px solid lightgray; background-color: white;  max-width:500px; max-height: 600px; overflow: auto; padding: 10px; border-radius: 10px; margin-top: 5vh;">
        <div style="padding:10px;">
          <h1 style="color: darkred;">Aviso: essa tela não tem layout definido</h1>
          <h2>Atualização: release 1.0.1</h2>
          <h3 style="text-align: center;"><b>Adições e melhorias</b></h3>
          <p>-  Adicionado telas de carregamento pelo sistema</p>
          <h3 style="text-align: center;"><b>Planos futuros</b></h3>
          <p>-  Adicionar controle de versão</p>
          <p>-  Adicionar aba de curiosidades</p>
          <br>
          <h2>Atualização: release 1.0.0</h2>
          <h3 style="text-align: center;"><b>Adições e melhorias</b></h3>
          <p>-  Adicionado campo de aparência ao personagem (detalhar/criar/editar)</p>
          <p>-  Textos estourando as card de skills corrigido</p>
          <h2>Atualização: 0.0.4C</h2>
          <h3 style="text-align: center;"><b>Adições e melhorias</b></h3>
          <p>-  Adicionado tela de detalhes do personagem</p>
          <p>-  Melhoria de performance ao carregar dados do personagem (detalhes / edição)</p>
          <p>-  corrigido problemas de performance ao carregar lista de personagem</p>
          <p>-  API - corrigido problemas ao adicionar e pegar informações do personagem</p>
          <br>

          <h2>Atualização: 0.0.4B</h2>
          <h3 style="text-align: center;"><b>Adições e melhorias</b></h3>
          <p style="color: red">-  <b>Não é mais necessário pressionar ENTER para pesquisar</b></p>
          <p>-  Adicionado tela de listagem de personagem e edição</p>
          <br>
          <h2>Atualização: 0.0.4A</h2>
          <h3 style="text-align: center;"><b>Adições e melhorias</b></h3>
          <p>-  Alterações na maioria dos formulários</p>
          <p>-  Adicionada Barra de navegação lateral</p>
          <p>-  Agora é possivel colocar imagem em habilidades (se sem imagem, uma orb)</p>
          <br>
          <h2>Atualização: 0.0.3B</h2>
          <h3 style="text-align: center;"><b>Adições e melhorias</b></h3>
          <p>-  Adicionado tela de listagem e cadastro de <b style="cursor: pointer;" (click)="navigateTo('equipment/list')">Guildas</b></p>
          <br>
          <h2>Atualização: 0.0.3A</h2>
          <h3 style="text-align: center;"><b>Adições e melhorias</b></h3>
          <p>-  Adicionado tela de listagem e cadastro de <b style="cursor: pointer;" (click)="navigateTo('item/list')">Itens</b></p>
          <p>-  rework no css de telas de cadastro</p>
          <br>
          <h2>Atualização 0.0.2:</h2>
          <h3 style="text-align: center;"><b>Adições e melhorias</b></h3>
          <p>-  Corrigido problema ao cadastrar com o campo de descrição longa</p>
          <p>-  Rework em como funciona o css das paginas de listagem</p>
          <p>-  Rework no css dos cards de listagem</p>
          <br>
          <h2>Atualização 0.0.1: </h2>
          <h3 style="text-align: center;"><b>Adições e melhorias</b></h3>
          <p>-  Adicionado tela de cadastro e visualização de <b style="cursor: pointer;" (click)="navigateTo('breed/list')">raças</b></p>
          <p>-  Adicionado tela de cadastro e visualização de <b style="cursor: pointer;" (click)="navigateTo('transformation/list')">transformações</b></p>
          <p>-  Tela de cadastro e visualização de <b style="cursor: pointer;" (click)="navigateTo('skill/list')">Habilidades</b></p>
          <p>-  Tela inicial com quadro de avisos com links</p>
          <p>-  outros aprimoramentos internos de comunicação com a api</p>
          <br>
          <h3 style="text-align: center;"><b>Remoções</b></h3>
          <p>-  Removido cards da tela inicial</p>
          <br>
        </div>
      </div>
    </div>
    <dozedex-spacer></dozedex-spacer>
  </div>
</div>
<!-- <app-bottombar></app-bottombar> -->