<div class="body-container">
  <app-navbar [ActualArea]="Area"></app-navbar>
  <br>
  <div class="inner-body-container">
    <div style="display: flex; justify-content: center;">
      <div style="border: 5px solid red; max-width:500px; padding: 10px; border-radius: 10px;">
        <div style="padding:10px;">
          <h1 style="color: darkred;">Aviso: essa tela não tem layout definido</h1>
          <h2>Atualizações recentes: </h2>
          <br>
          <h3 style="text-align: center;"><b>Adições e melhorias</b></h3>
          <p>-  Adicionado tela de cadastro e visualização de <b style="cursor: pointer;" (click)="navigateTo('breed/list')">raças</b></p>
          <!-- <p>-  Adicionado tela de cadastro e visualização de <b style="cursor: pointer;" (click)="navigateTo('skill/list')">habilidades</b></p> -->
          <p>-  Adicionado tela de cadastro e visualização de <b style="cursor: pointer;" (click)="navigateTo('transformation/list')">transformações</b></p>
          <p>-  Tela inicial com quadro de avisos com links</p>
          <p>-  outros aprimoramentos internos de comunicação com a api</p>
          <br>
          <h3 style="text-align: center;"><b>Remoções</b></h3>
          <p>-  Removido cards da tela inicial</p>
          <br>
          <h3 style="text-align: center;"><b>Em progresso</b></h3>
          <p>-  Tela de cadastro e visualização de <b style="cursor: not-allowed;">Habilidades</b></p>
        </div>
      </div>
    </div>
    <dozedex-spacer></dozedex-spacer>
  </div>
</div>
<!-- <app-bottombar></app-bottombar> -->