<div style="height: 100%">
    <div *ngIf="isLoginPage">
        <router-outlet></router-outlet>
    </div>

    <div *ngIf="!isLoginPage" style="height: 100%;">
        <mat-drawer-container style="height: 100% !important;">
            <mat-drawer #drawer class="dozedex-sidenav" mode="side">
                <p>Auto-resizing sidenav</p>
                <p>Auto-resizing sidenav</p>
            <p>Auto-resizing sidenav</p>
            <p>Auto-resizing sidenav</p>
            <p>Auto-resizing sidenav</p>
            </mat-drawer>
            
            <!-- <div class="dozedex-sidenav-content">
                <button type="button" mat-button (click)="drawer.toggle(toogleSideNav())">
                    Toggle sidenav
                </button>
            </div> -->

            <router-outlet style="height: 100vh;"></router-outlet>
        </mat-drawer-container>
    </div>
</div>