/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }

.inner-body-container{
   margin-top: 5vh;
   margin-left: 5vh;
   margin-right: 5vh;
   border-radius: 10px;
}

.inner-body-with-color{
   border: 1px solid white;
   background-color: white;
}

.form-container{
   border-radius: 10px;
   padding: 30px;
   margin: auto;
   max-width: 800px;
   background-color: white;
   border: 1px solid lightgray;
   border-radius: 20px;
}

.inline-spacer{
   flex: 1 1 auto;
}

.create-action-image-container{
   display: flex;
   justify-content: center;
   padding-bottom: 50px;
}

.create-action-image-picture{
   display: flex;
   border-radius: 10%;
   min-width: 1px;
   max-width: 600px;
   max-height: 400px;
}

/* div area */
div::-webkit-scrollbar {
   width: 10px;
 }
 
div::-webkit-scrollbar-track {
   border-radius: 10px;
 }
 
div::-webkit-scrollbar-thumb {
   background: grey;
   border-radius: 10px;
 }
 
div::-webkit-scrollbar-thumb:hover {
   background: #464e7e;
}

/* div area */

/* body area */
body { 
   margin: 0; 
   font-family: Roboto, "Helvetica Neue", sans-serif;
   background-color: rgb(236, 236, 236);
}

.body-container{
  background-color: rgb(236, 236, 236);
  height: 100%;
}

body::-webkit-scrollbar {
   width: 10px;
 }
 
body::-webkit-scrollbar-track {
   border-radius: 10px;
 }
 
body::-webkit-scrollbar-thumb {
   background: grey;
   border-radius: 10px;
 }
 
body::-webkit-scrollbar-thumb:hover {
   background: #464e7e;
 }
/* body area */

/* inputs area */
textarea::-webkit-scrollbar {
   width: 10px;
 }
 
textarea::-webkit-scrollbar-track {
   border-radius: 10px;
}
 
textarea::-webkit-scrollbar-thumb {
   background: grey;
   border-radius: 10px;
}
 
textarea::-webkit-scrollbar-thumb:hover {
   background: #464e7e;
}
/* inputs area */


/* cards area */

.flex-gap {
   display: inline-flex;
   margin-left: 7vh;
   margin-right: 7vh;
   flex-wrap: wrap;
   gap: 2vh;
   padding: 10px;
}

.flex-gap-justify-center{
   justify-content: center;
}

.card-container{
   margin: 2vh;
   max-height: 70vh;
   overflow: auto;
   display: flex; 
   justify-content:center;
   overflow-x: hidden;
}

.card-header-container{
   margin-top: 15px;
   margin-left: 10px;
   display: flex;
}

.card-container-search{
   max-width: 225px;
}

.card-container-body{
   width: 250px;
   height: 400px;
   border: 1px solid lightgrey;
   top: 10%;
   left: 10%;
   transform: translate(-10%,-10%);
   border-radius: 10px !important;
   box-shadow: 0 0 0 rgba(0,0,0,0), 0 0 0 rgba(0,0,0,0);
   transition: ease-in-out .3s !important;
}

 .card-container-body:hover {
   top: calc( 10% - 7px );
   border: 1px solid rgba(#fdfeff, 0) !important;
   box-shadow: 0 15px 20px rgb(0, 197, 223), 0 0 5px rgba(0,0,0,.1) !important;
 }
 
 .card-container-body:active {
   top: 10%;
   box-shadow: 0 5px 10px rgba(0,0,0,.05), 0 0 2px rgba(0,0,0,.1);
   transition: ease-in-out .1s;
 }


.card-container-title{
   display: flex;
   justify-content: center;

}

.card-title{
   max-width: 200px;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}

.card-container-add-btn{
  margin-right: 10px !important; 
  background-color: lightgreen !important;
}

.card-container-description{
  height: 100px; 
  overflow: auto;
}

.card-container-image{
   cursor: pointer;
   object-fit: contain;
   min-width: 100%;
   height: 40%;
}

.card-container-actions{
   display: flex; 
   justify-content:space-around;
}



/* cards area */

/* other areas */

.details-text{
   white-space: pre-wrap;
}